<div class="row">
  <aside class="side-panel">
    <%= form_tag users_path, class: 'search-users-form', method: :get do %>
      <%= search_field_tag :query, params[:query], placeholder: t('hightower.users.search'), autofocus: true %>
      <div class="search-users-actions">
        <%= link_to t('hightower.users.reveal_all'), users_path %>
      </div>
    <% end %>
  </aside>

  <section class="main-panel">
    <div class="page-header">
      <h1 class="page-title"><%= t('hightower.users.all_title') %></h1>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>User</th>
          <th>Joined</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'hightower/users/user', collection: @users %>
      </tbody>
    </table>
  </section>
</div>