<div class="row">
  <aside class="side-panel">

    <%= link_to t('hightower.users.back_to_all_link'), users_path %>
    
    <ul class="filter-options list-group">
      <li class="list-group-item filter-header"> <%= t('hightower.users.their_events') %></li>
      <%= render partial: @dashboard.events_tabs.tabs, as: :tab, locals: {user: @dashboard.user }%>
    </ul>

    <ul class="filter-options list-group">
      <li class="list-group-item filter-header"><%= t('hightower.users.their_segments') %></li>
      <% @dashboard.segments.each do |segment| %>
        <li class="list-group-item"><%= segment.name %></li>
      <% end %>  
    </ul>

  </aside>

  <section class="main-panel">
    <div class="page-header">
      <h1 class="page-title"><%= @dashboard.title %></h1>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>User</th>
          <th>Action</th>
          <th>Meta</th>
          <th>Joined at</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'hightower/events/event', collection: @dashboard.paginated_events %>
      </tbody>
    </table>

    <%= paginate @dashboard.paginated_events %>
  </section>
</div>