<div class="row">
  <aside class="side-panel">
    <ul class="filter-options list-group">
      <li class="list-group-item filter-header"><%= t('hightower.users.their_segments') %></li>
      <% @segments.alphabetical.each do |segment| %>
        <li class="list-group-item"><%= segment.name %></li>
      <% end %>  
    </ul>

    <ul class="filter-options list-group">
      <li class="list-group-item <%= event_dom_class(@filter) %>"><%= link_to t('hightower.events.all_filter_link'), user_path(@user) %><span class="badge"><%= @filter.scope.count %></span></li> 
      <% @filter.events_with_counts.each do |event| %>
        <li class="list-group-item <%= event_dom_class(@filter, event.first) %>"><%= link_to event.first, user_path(@user, current_action: event.first ) %><span class="badge"><%= event.last %></span></li> 
      <% end %>
    </ul>
  </aside>

  <section class="main-panel">
    <div class="page-header">
      <h1 class="page-title"><%= user_name(@user) %></h1>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>User</th>
          <th>Action</th>
          <th>Meta</th>
          <th>Joined at</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'hightower/events/event', collection: @filter.events %>
      </tbody>
    </table>
  </section>
</div>