<div class="row">
  <aside class="side-panel">
    <ul class="filter-options list-group">
      <% @filter.segments_with_counts.each do |segment| %>
        <li class="list-group-item <%= segment_dom_class(@filter, segment) %>">
          <%= link_to segment.name, segments_path(current_segment_id: segment.id) %>
          <span class="badge"><%= segment.users_count %></span>
        </li>
      <% end %>
    </ul>
  </aside>

  <section class="main-panel">
    <div class="page-header">
      <h1 class="page-title"><%= @filter.current_segment.name %></h1>
    </div>
    <% if @filter.no_results? %>
      <div class="alert alert-info">
        <%= t('hightower.segments.no_results') %>
      </div>
    <% else %>
      <table class="table">
        <thead>
          <tr>
            <th>User</th>
            <th>Status</th>
            <th>Added</th>
          </tr>
        </thead>
        <tbody>
            <%= render partial: 'hightower/segments/persona', collection: @filter.current_segment_personas %>
        </tbody>
      </table>
    <% end %>
  </section>
</div>


