<!DOCTYPE html>
<html>
<head>
  <title>Hightower</title>
  <%= stylesheet_link_tag    "hightower/application", media: "all" %>
  <%= javascript_include_tag "hightower/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'hightower/application/nav' %>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
